body{
    background-color: black;
    color: white;
    font-family: 'Amatic SC', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.quote{
    color: #96EFFF;
    font-size: larger;
}

.quote{
    font-family: 'Amatic SC', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Kalnia', serif;
}